# Virtual Environments
.venv/
env/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# System files
.DS_Store
Thumbs.db